/InvalidColorException.class
/InvalidPositionException.class
/ChessGameException.class
/GameControllerException.class
/InvalidCastlingException.class
/InvalidPawnCaptureException.class
/KingOnCheckException.class
/MoveValidatorException.class
